.container {
  padding: 30px;
  background: #f0f0f0;
}

.container + .container {
  margin-top: 15px;
}

h2 {
  text-transform: uppercase;
}

.user {
  display: flex;
  align-items: center;
}

.user img {
  width: 50px;
  background-color: #fff;
  border-radius: 7em;
  margin: 10px;
  padding: 10px;
}