.App {
  max-width: 768px;
  margin: 0 auto;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

.header-top {
  padding: 15px 10px;
  vertical-align: middle;
  display: flex;
}

.header-bottom {
  background: #f0f0f0;
  border-bottom: 1px solid #ccc;
  padding: 15px;
}

.logo-wrapper {
  width: 30%;
}

.search-wrapper {
  width: 70%;
}

.room-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  align-items: flex-start;
  flex-wrap: wrap;
}

.room-list li {
  padding: 10px;
  width: 25%;
  box-sizing: border-box;
}

.room-list li img {
  width: 100%;
}